.App {
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: 'Fira Sans', 'Montserrat', sans-serif;
  background: #fff;
}

.left-container {
  background-color: #eb5146;
  height: 100%;
  float: left;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.left-container div {
  justify-content: center;
  align-self: center;
  display: block;
}

.left-container h1 {
  color: #fff;
  font-size: 4rem;
  padding: 0rem;
  font-weight: 400;
  margin: 0rem auto;
}

.left-container h3 {
  color: #f5f5f5;
  font-weight: 500;
  margin: 4rem auto .5rem auto;
  font-size: 1.5rem;
}

.left-container h4 {
  color: #eee;
  font-size: 1.25rem;
  margin: 0 auto;
  font-weight: 400;
}

.left-container p {
  color: #f5f5f5;
  margin: 0rem 1rem 0.5rem 1rem;
}

.left-container a {
  color: #f5f5f5;
}

.left-container h5 {
  color: #f5f5f5;
  font-size: 1rem;
  margin: 0rem 0rem 0rem 0rem;
  font-weight: 600;
}

.left-container .media-buttons {
  color: #f5f5f5;
  padding: 1rem;
  margin: .5rem;
}

.right-container {
  background-color: transparent;
  float: right;
  padding: 1rem 4rem 4rem 4rem;
  box-sizing: border-box;
}

.nav-bar {
  display: flow-root;
  padding: 0rem;
  width: 100%;
}

.flexbox-left>p {
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #fff;
  margin: 0 auto;
}

.flexbox-left {
  float: left;
  display: inline-flex;
  align-items: center;
}

.flexbox-left>h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #f44336;
  font-size: 1rem;
  letter-spacing: .075rem;
  margin: 1rem 0rem;
}

.flexbox-right {
  float: right;
  display: inline-flex;
}

.flexbox-right>button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #f44336;
  background-color: transparent;
  font-size: .9rem;
  letter-spacing: .075rem;
  margin: 0rem;
  padding: 1rem;
  border: 0;
  text-decoration: underline;
}

.flexbox-right>button:hover {
  color: #fff;
  background-color: #f44336;
}

.flexbox-right>button:focus {
  outline: #f44336 auto 1px;
}

.right-container>.content {
  margin: 0rem;
}

.right-container .content>p {
  font-size: 1.1rem;
  color: #212121;
  margin: 1.25rem 0rem;
  text-align: start;
  font-family: 'Fira Sans', sans-serif;
}

.right-container .content>h3 {
  font-size: 2rem;
  color: #f44336;
  font-family: 'Montserrat', sans-serif;
  text-align: start;
  margin: 1rem 0rem;
}

.right-container .content>h5 {
  font-size: 1rem;
  color: #f44336;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 1.5rem auto;
  font-weight: 500;
}

.list-inline {
  position: absolute;
  margin: 0;
  bottom: 0;
}

.fab {
  padding: 20px;
  font-size: 30px;
  width: 2rem;
  height: 2rem;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color: #eee;
}

.fab:hover {
  opacity: 0.7;
}


.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  [class*="col-"] {
    width: 100%;

  }

  .right-container {
    padding: 1rem 2rem 2rem 2rem;
  }
}